body {
  padding: 0;
  margin: 0;
  font-family: monospace;
  overflow-y: hidden;
  overflow-x: hidden;
}

canvas {
  vertical-align: top;
}

#username {
  background: transparent;
  resize: none;
  border: dashed 2px;
  border-color: #B3B3B3;
  color: #B3B3B3;
  font-family: monospace;
  font-size: 2em;
  outline: none;
}

#title-name {
  font-weight: lighter;
  color: #B3B3B3;
}

.continueButton {
  width: 80px;
  height: 40px;
  color: white;
  outline: none;
  font-family: monospace;
  font-size: 1.2em;
  background-color: #0FE9CE;
  border-radius: 10px;
  border: white;
}

.message {
  color: #B3B3B3;
}

.smallMessage {}