body {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

canvas {
  vertical-align: top;
}

#username {
  background: transparent;
  resize: none;
  border: dashed 2px;
  border-color: #FFE874;
  color: #FFE874;
  font-family: monospace;
  font-size: 2em;
  outline: none;
}

#title-name {
  color: #FFE874;
}

.continueButton {
  color: green;
}

.message {
  color: orange;
}

.smallMessage {}